<p>
    Welcome to Visual Knight!
</p>
<p>
    You have been invited by {{invitedBy}}.</p>
<p>
<p>
    Please verify your email by following this link <a href='{{activationLink}}'>{{activationLink}}</a>.
</p>