<mat-table #table
           [dataSource]="dataSource">

  <!-- Test Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Testname</mat-header-cell>
    <mat-cell *matCellDef="let test">
      {{test.name}}
    </mat-cell>
  </ng-container>

  <!-- Test Result Detail Column -->
  <ng-container matColumnDef="hasDiff">
    <mat-header-cell *matHeaderCellDef>Has diff image</mat-header-cell>
    <mat-cell *matCellDef="let testSession">
      <span *ngIf="testSession.diffImageKey">Yes</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="misMatchTolerance">
    <mat-header-cell *matHeaderCellDef>Mismatch / Tolerance in %</mat-header-cell>
    <mat-cell *matCellDef="let testSession">
      {{testSession.misMatchPercentage}} / {{testSession.misMatchTolerance * 100}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="createdDate">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let testSession">

      <span *ngIf="showShortDate(testSession); else ngDateTime"
            [matTooltip]="testSession.createdAt | date:'medium'">
        {{getFromNow(testSession)}}
      </span>
      <ng-template #ngDateTime>
        {{testSession.createdAt | date:'medium' }}
      </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
    <mat-cell *matCellDef="let testSession">
      {{testSession.state}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="stateChanged">
    <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
    <mat-cell *matCellDef="let testSession">
      {{ getUsername(testSession) }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let testSession; columns: displayedColumns;"
           (click)="onSelectTestSession(testSession)"></mat-row>
</mat-table>
