<div class="row">
  <button
    mat-raised-button
    (click)='addRectangle()'
  >
    Rectangle
  </button>
  <!-- <button
    mat-raised-button
    [color]='selectedButton["undo"] ? "primary":""'
    (click)='clearSelection(); setSelection("undo"); undo()'
  >
    Undo
  </button>
  <button
    mat-raised-button
    [color]='selectedButton["erase"] ? "primary":""'
    (click)='clearSelection(); setSelection("erase"); erase = true'
  >
    Erase
  </button> -->
</div>

<div id="container"></div>
