:host {
  width: 100%;
  height: 100%;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  place-content: center;
  align-items: center;
}

.container {
  position: relative;
  height: 100%;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.rect {
  position: absolute;
}
