<div class="variation-list">
  <div class="container">
    <div
      class="card-container"
      *ngIf="!(variationListLoading$ | async); else loadingList"
    >
      <!-- [class.success]="variation.isLastTestSuccessfull" -->
      <mat-card
        [@animate]="{
          value: '*',
          params: { delay: i * 100 + 'ms', opacity: 0.3, scale: 0.7 }
        }"
        *ngFor="
          let variation of (variationList$ | async) as variationList;
          let i = index
        "
        [class.failed]="!variation.isLastTestSuccessfull"
        [routerLink]="[variation.id]"
      >
        <mat-card-header>
          <mat-card-title>{{ variation.browserName }}</mat-card-title>
          <mat-card-subtitle>{{ variation.deviceName }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img [src]="variation.testSessions[0].imageKey" />
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Test sessions</button>
          <button mat-button (click)="deleteVariation(variation, $event)">
            Delete
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #loadingList>
  Loading Variation List...
</ng-template>
