.mat-column-viewVariations {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -190px 0;
  }

  100% {
    background-position: 190px 0;
  }
}

.skeleton-loader {
  width: 80%;
  background-color: gray;
  height: 15px;
  border: 2px;
  border-radius: 10px;

  &:before {
    content: '.';
    visibility: hidden;
  }

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;

  background: #f6f7f8;
  background-image: -webkit-gradient(
    linear,
    left center,
    right center,
    from(#f6f7f8),
    color-stop(0.2, #edeef1),
    color-stop(0.4, #f6f7f8),
    to(#f6f7f8)
  );
  background-image: -webkit-linear-gradient(
    left,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
}
